table{
  height: 450px;
  width:  400px;
  margin-left: 36%;

}
body{
  /* background: #DAE8E8 */
  /* background: #ccccff; */
  background: #e0e0eb;
}
.black{
  width: 35px;
  height: 35px;
  background: #AFB3B7;  
  /* background: #000033 */
}
p{
  text-align: center;
  font-size: inherit;
}
.white{
  width: 35px;
  height: 35px;
  background: #F2F5F5;
}
h1, h3{
  text-align: center;
}
